.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.guess-form-container {
  margin: 20px; /* Adjust the margin as needed */
}

.guess-form {
  display: flex;
  flex-direction: column; /* Stack the label and button vertically */
  align-items: center; /* Center align the form items */
  gap: 10px; /* Adds space between form items */
}

.guess-input {
  margin-top: 10px; /* Space above the input */
  margin-bottom: 10px; /* Space below the input */
}

.submit-button {
  padding: 5px 10px; /* Padding inside the button */
}

.placeholder-display {
  margin-top: 10px; /* Space above the placeholder display */
}
