@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  margin-bottom: 2rem;
  font-size: 4em;
  color: #000;
  text-shadow: 3px 3px 0px #a2a3a3, 8px 8px 0px rgba(0, 0, 0, 0.1);
}

#select-level {
  width: 30rem;
  height: 3rem;
  position: absolute;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#back-box-one {
  width: 30rem;
  height: 3rem;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#image-container {
  width: 30rem;
  height: 18rem;
  position: absolute;
  z-index: 2;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#back-box-two {
  width: 30rem;
  height: 18rem;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#input-bar {
  width: 30rem;
  height: 2.5rem;
  position: absolute;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#back-box-three {
  width: 30rem;
  height: 2.5rem;
  position: relative;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#button-bar {
  width: 30rem;
  height: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}

#button-bar-box {
  width: 30rem;
  height: 2.5rem;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#generateBtn {
  height: 2.5rem;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#timer {
  height: 2.5rem;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

#showHint {
  height: 2.5rem;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
  margin-left: 1rem;
  justify-content: flex-end;
}

